.App-logo {
  height: 26px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Our real CSS Stuff */
#LoginBadge .media .image img {
  width: auto;
}
#LoginBadge .media-content {
  line-height: .95rem;
}
